
<h1>Inicia Sesi칩n</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "Contrase침a" %>
      <%= f.password_field :password %>
      <p></p>
      <%= f.submit "Iniciar Sesi칩n", class: "btn btn-large btn-primary" %>
    <% end %>
	<p><%= link_to "Olvidaste tu contrase침a?", new_password_reset_path %></p>
  </div>
</div>